

.popover-content-wrapper {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: green;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.popover-content {
    background-color: white;
    width: 600px;
    height: 200px;
    padding: 30px 40px;
    border-radius: 5px;
    text-align: center;
}

.popover-content p {
    text-align: center;
    font-size: medium;
}

.popover-content button {
    margin-top: 40px;
}