.traffic-light-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.traffic-light {
  align-items: center;
  margin: 50px;
  background-color: black;
  width: 90px;
  height: 250px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px #444;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px auto;
  background-color: #333;
}

.red-on {
    background-color: red;
}

.yellow-on {
    background-color: yellow;
}

.green-on {
    background-color: green;
}
