.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: cadetblue;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  width: 30px;
}

.bar, .bar-open {
  width: 30pxd;
  height: 3px;
  background-color: #333;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.bar-open:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.bar-open:nth-child(2) {
  opacity: 0;
  transform: translateX(-10px);
}

.bar-open:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3;
}

.nav-links a:hover {
  color: aqua;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px;
    align-items: center;
  }

  .nav-links li {
    width: 100%;
    text-align: center;
  }

  .nav-links-active li{
    display: flex;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 10px 0;
  }
}
