.billing-container {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: 20px auto;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.input-section {
    display: flex;
  gap: 10px;
  margin-bottom: 16px;
  justify-content: center;
}

.billing-counter-input {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    min-width: 200px;
}

.input-btn {
    background-color: rgb(205, 171, 171);
    border: 2px solid black;
    border-radius: 5px;
    color: black;
}

.input-btn:hover {
    background-color:  rgb(220, 176, 176);
    box-shadow: 0 0 15px black;
}

.counter-wrapper {
    display: inline-flex;
    flex-direction: column;
    width: 150px;
    border: 2px solid rgb(88, 85, 85);
    margin: 5px;
    padding: 5px;
    align-items: center;
}

.customer-box {
    border: 2px solid rgb(60, 58, 58);
    margin-top: 2px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
    text-align: center;
}

