*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
}

main {
  padding: 40px 12px;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
}

.controls-wrapper {
  margin-bottom: 24px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100px;
}

.bar-label {
  text-align: center;
  padding: 4px;
  position: absolute;
  bottom: -30px;
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chart {
  height: 400px;
  width: 500px;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 12px;
  margin-bottom: 30px;
}

.bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}

.bar {
  width: 100%;
}