

.accordion-wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.accordion-container {
    width: 100%;
    background-color: #fff;
    color: #111;
    margin: 1rem auto;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}

.accordion-header {
    padding: 0.3rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-header:hover {
    background-color: #ececec;
}

.accordion-content {
    padding: 1rem;
    border-top: 1px solid #eee;
    background-color: white;
}

.toggle-btn {
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    background-color: transparent !important;
    color: black;
}