.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    padding: 8px;
    width: 200px;
}

.chips-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 3px;
    align-items: center;
}

.chips {
    display: inline-flex;
    background-color: rgba(187, 182, 182, 0.913);
    border: 2px solid rgba(187, 182, 182, 0.913);
    border-radius: 15px;
    align-items: center;
    padding: 3px;
}

.chips-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(200, 36, 36);
    flex: 1;
}